.card__title {
  font-size: 18px;
}

.card__image {
  margin-left: -70px;
}

.card__image-catalog {
  width: 280px;
  height: 280px;
  background-color: $lightbrown;
}

.card__like {
  font-weight: bold;
  margin-left: 10px;
}

.card__author {
  text-transform: initial;
}
