.causes__wrapper {
  width: 315px;
}

.causes__list {
  list-style: none;
  padding: 0;
}

.causes__item-reason {
  margin-left: 10px;
}

.reason__list {
  list-style: none;
  margin-left: 67px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.causes__item-reason--gray {
  width: 360px;
  text-align: center;
  margin-left: -20px;
  padding-right: 40px;
  background-color: $lightgray;
}

.reason__item-title {
  font-size: 18px;
}

.reason__item:nth-child(2) {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .causes__wrapper {
    width: 700px;
    margin: auto;
  }

  .causes__item-reason--gray {
    width: 700px;
    height: 256px;
  }
}
