.film__wrapper {
  width: 315px;
  text-align: center;
  margin-left: 45px;
  margin-bottom: 60px;
}

.film__title {
  margin-top: 80px;
}

.film__description {
  font-size: 16px;
  width: 310px;
  margin-bottom: 30px;
}
