.form__block {
  width: 380px;
  display: grid;
  margin-top: 30px;
}

.form__name {
  width: 235px;
  height: 58px;
  border: none;
  background-color: $smoke;
  padding-left: 15px;
  margin-left: 15px;
}

.form__surname {
  width: 200px;
  height: 58px;
  border: none;
  background-color: $smoke;
  padding-left: 15px;
  margin-left: 15px;
  margin-top: 20px;
}

.form__patronymic {
  width: 200px;
  height: 58px;
  border: none;
  background-color: $smoke;
  padding-left: 15px;
  margin-left: 20px;
  margin-top: 20px;
}

@media (min-width: $desktop-width) {
  .form__name {
    width: 310px;
  }

  .form__surname {
    width: 239px;
    margin-left: 50px;
  }

  .form__patronymic {
    width: 240px;
    margin-left: 53px;
  }
}

.form__point {
  display: grid;
  text-align: initial;
  margin-left: 55px;
  margin-bottom: 20px;
}

.form__phone {
  width: 285px;
  height: 58px;
  border: none;
  margin-left: -15px;
  margin-top: 10px;
  padding-left: 15px;
  background-color: $smoke;
}

.form__mail {
  width: 285px;
  height: 58px;
  border: none;
  margin-left: -15px;
  margin-top: 10px;
  padding-left: 15px;
  background-color: $smoke;
}

.form__ico {
  width: 58px;
  height: 60px;
  margin-top: -60px;
  margin-left: 231px;
  background-color: $darksmoke;
}

@media (min-width: $tablet-width) {
  .form__phone {
    width: 665px;
  }

  .form__mail {
    width: 665px;
  }

  .form__ico {
    margin-left: 610px;
  }
}

@media (min-width: $desktop-width) {
  .form__point-block {
    display: flex;
    margin-top: 50px;
  }

  .form__point {
    display: grid;
  }

  .form__phone {
    width: 258px;
    margin-top: -45px;
    margin-left: 180px;
  }

  .form__mail {
    width: 300px;
    margin-top: -45px;
    margin-left: 165px;
  }

  .form__ico {
    margin-top: -60px;
    margin-left: 423px;
  }
}

.form__impression {
  margin-right: 20px;
  margin-left: -15px;
  margin-bottom: 30px;
}

.form__sights {
  margin-right: 20px;
  margin-left: -15px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .form__sight-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .visited-sight {
    margin-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form__sight-block {
    display: initial;
  }

  .visited-sight {
    margin-left: 40px;
  }
}

.form__emotions {
  width: 276px;
  height: 160px;
  border: none;
  background-color: $smoke;
}

@media (min-width: $tablet-width) {
  .form__emotions {
    width: 670px;
    margin-left: -100px;
  }
}

@media (min-width: $desktop-width) {
  .form__emotions {
    width: 960px;
    margin: auto;
  }
}

.form__submit {
  border: none;
  font-size: 21px;
  text-transform: uppercase;
  background-color: $lightblue;
  color: $mainwhite;
  padding: 18px 36px 14px 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form__necessarily {
  display: none;
}

@media (min-width: $tablet-width) {
  .form__test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -140px;
  }

  .name {
    order: 2;
  }

  .contact {
    order: 3;
  }

  .impression {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .form__test {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -50px;
  }

  .name {
    order: 2;
    margin-left: 80px;
  }

  .contact {
    order: 3;
    margin-left: -100px;
  }

  .impression {
    order: 1;
  }

  .sight {
    margin-left: 250px;
  }
}

@media (min-width: $tablet-width) {
  .form__adduce-name {
    margin-left: -150px;
  }

  .form__adduce-emotions {
    margin-left: -120px;
  }

  .form__submit {
    margin-left: -420px;
  }

  .form__necessarily {
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-left: 250px;
  }
}

@media (min-width: $desktop-width) {
  .form__adduce-name {
    margin-left: -220px;
  }

  .form__adduce-impression {
    margin-left: 100px;
  }

  .form__adduce-contact {
    margin-left: 130px;
  }

  .form__adduce-emotions {
    margin-left: -90px;
  }

  .form__submit {
    margin-left: -680px;
  }

  .form__necessarily {
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-left: 540px;
  }
}
