.intro {
  width: 380px;
  height: 400px;
  text-align: center;
  background-color: $lightblue;
  background-image: url("");
}

.intro__image {
  margin-top: 75px;
}

@media (min-width: $tablet-width) {
  .intro {
    width: auto;
  }

  .intro__image {
    margin-left: -40px;
  }
}
