.page-footer__wrapper {
  width: 380px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 768px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}
