.photos__wrapper {
  width: 315px;
}

.photos__title {
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-left: 55px;
  margin-bottom: 30px;
}

.photos__description {
  width: 280px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 50px;
}

.photos__card {
  margin-left: 50px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .photos__wrapper {
    width: 400px;
    margin: auto;
  }

  .photos__title {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 70px;
  }

  .photos__description {
    width: 420px;
    margin-left: -20px;
    margin-bottom: 90px;
  }

  .photos__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
