.promo {
  width: 380px;
  height: 200px;
  text-align: center;
  background-color: $lightbrown;
  background-image: url("");
  color: $mainwhite;
  font-size: 50px;
}

.promo__title {
  padding-top: 75px;
}
