.review__wrapper {
  width: 380px;
}

.review__title {
  text-align: center;
  font-size: 21px;
  margin-top: 50px;
}

.review__text {
  font-size: 14px;
  text-align: center;
}

.review__form {
  text-align: center;
  margin-top: 50px;
}
