.social__list {
  list-style: none;
  display: flex;
}

.social__item {
  width: 46px;
  height: 30px;
  text-align: center;
  margin: 3px;
  padding-top: 13px;
  background-color: $lightblue;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
  }
}
