.social-list {
  @include reset-list();
  display: flex;
  justify-content: center;
}

.social-list__item {
  margin: 0 3px;
}

@media (min-width: $desktop-width) {
  .social-list {
    margin-left: -5px;
  }
}
