$mainwhite: #ffffff;
$smoke: #f2f2f2;
$darksmoke: #e6e6e6;
$black: #000000;
$lightblack: #333333;
$lightblue: #81b3d2;
$blue: #669ec0;
$darkblue: #5496bd;
$darkgray: #5c6870;
$dimgray: #666666;
$lightgray: #eeeeee;
$gray: #e5e5e5;
$midlegray: #d5d5d5;
$lightbrown: #766357;
$darkbrown: #604e43;
